{{ " " }}

<div class="citation-container">
  <div class="citation">
    {% if include.style == "rich" %}
      <a
        {% if project.link %}
          href="{{ include.link | relative_url }}"
        {% endif %}
        class="citation-image"
        aria-label="{{ include.title | default: "project link" }}"
      >
        <img
          src="{{ include.image | relative_url }}"
          alt="{{ include.title | default: "project image" }}"
          loading="lazy"
          {% include fallback.html %}
        >
      </a>
    {% endif %}

    <div class="citation-text">
      <a
        {% if include.link %}
          href="{{ include.link | relative_url }}"
        {% endif %}
        class="citation-title"
      >
        {{ include.title | default: "" }}
      </a>

      <div class="citation-details">
        <span class="citation-publisher">
          <i>{{- include.subtitle | default: "" -}}</i>
        </span>
        <br>
        <span class="citation-publisher">
          <b>Venues:</b> &nbsp; {{- include.venue | default: "Unknown" -}}
        </span>
        <br>
        <span class="citation-publisher">
          <b>Instructors:</b> &nbsp; {{- include.teachers | join: ", " -}}
        </span>
      </div>

      {% if include.buttons.size > 0 %}
          <div class="citation-buttons">
            {% for button in include.buttons %}
              {%
                include button.html
                type=button.type
                icon=button.icon
                text=button.text
                link=button.link
                style="bare"
              %}
            {% endfor %}
          </div>
        {% endif %}

      {% if include.tags.size > 0 or include.repo %}
        {% include tags.html tags=include.tags repo=include.repo %}
      {% endif %}
    </div>
  </div>
</div>